body {
	background-color: #34495e;
}

h3 {
	display: inline;
	color: white;
	font-family: 'Inconsolata';
}

input {
	border: none;
	display: inline;
	margin-right: 1em;
}

.box {
	position: absolute;
	top: 50%;
	right: 40%;
}

#submit {
	background-color: white;
	border-radius: 25px;
	font-family: 'Inconsolata';
}


#response {
	color: white;
}

#response-wrong {
	color: white;
}

h5 {
	display: inline;
	font-family: 'Inconsolata';
}