@font-face {
  font-family: 'Aktiv Grotesk';
  src: url("../fonts/AktivGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Aktiv Grotesk';
  src: url("../fonts/AktivGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Aktiv Grotesk';
  src: url("../fonts/AktivGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
body {
  margin: 0; }

html {
  background-color: #F3F5F7; }

::selection {
  background-color: #12A2FF; }

/*
.main-header {
	margin-left: -16vw;
}
*/
@media screen only and (max-width: 1000px) {
  body {
    width: 1000px; } }
* {
  font-family: 'Aktiv Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased; }

.pattern {
}

.margin-right--xsmall {
  margin-right: 16px; }

.opacity--mid {
  opacity: 0.5; }

.margin-right--small {
  margin-right: 32px; }

.section_full {
  width: 100vw;
  height: 100vh; }

.section--half {
  position: relative;
  width: 50vw;
  height: 100vh;
  float: left; }

.hidden {
  overflow: hidden; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

a {
  color: inherit; }

a:link {
  color: inherit;
  text-decoration: none; }

/* Sets the color as pink */
.section--pink {
  background-color: #FF5EAE; }

/* Sets the color as blue */
.section--blue {
  background-color: #38497C; }

/* Sets the color as green */
.section--green {
  background-color: #69C6AA; }

/* Sets the color as gray */
.section--gray {
  background-color: #F3F5F7; }

.text--white {
  color: #FFFFFF; }
  .text--white a {
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s; }
  .text--white a:hover {
    opacity: 0.6; }

.text--dark-gray {
  color: #576B82; }
  .text--dark-gray a {
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s; }
  .text--dark-gray a:hover {
    opacity: 0.6; }

.text--blue {
  color: #38497C; }
  .text--blue a {
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s; }
  .text--blue a:hover {
    opacity: 0.6; }

.text--gray {
  color: #556778; }
  .text--gray a {
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s; }
  .text--gray a:hover {
    opacity: 0.6; }

.text--purple {
  color: #5882FF; }
  .text--purple a {
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s; }
  .text--purple a:hover {
    opacity: 0.6; }

/* Sets Font Size for header */
.text--header {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  line-height: 42.24px; }

/* Sets Font Size for title */
.text--title {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  line-height: 31.68px; }

/* Sets Font Size for body */
.text--body {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  line-height: 23.76px; }

.text-white--opacity {
  color: rgba(255, 255, 255, 0.7); }

.text-gray--opacity {
  color: rgba(85, 103, 120, 0.7); }

.button {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  font-kerning: normal;
  letter-spacing: 0.24px;
  border-radius: 6px;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s; }

section {
  overflow: hidden; }

.section {
  overflow: hidden; }

.absolute {
  position: absolute; }

.opacity-none {
  opacity: 0; }

.button:focus {
  outline: none; }

.statement-block {
  width: 50%; }

.button--light {
  color: #FFFFFF;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 2px; }
  .button--light:hover {
    background-color: rgba(255, 255, 255, 0.2); }

.button--dark {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 2px; }
  .button--dark:hover {
    background-color: rgba(0, 0, 0, 0.2); }

.button--purple {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 2px;
  background-color: #5882FF; }
  .button--purple:hover {
    background-color: rgba(0, 0, 0, 0.2); }

.launch--login {
  position: absolute;
  right: 8vw;
  z-index: 999;
  margin: 0; }

html {
  background-color: #F3F5F7; }

::selection {
  background-color: #12A2FF; }

/*
.main-header {
	margin-left: -16vw;
}
*/
.margin-right--xsmall {
  margin-right: 16px; }

.opacity--mid {
  opacity: 0.5; }

.margin-right--small {
  margin-right: 32px; }

.section_full {
  width: 100vw;
  height: 100vh; }

.section-half--left {
  position: relative;
  width: 25vw;
  height: 100vh;
  float: left; }

.section-half--right {
  position: relative;
  width: 75vw;
  height: 100vh;
  float: right; }


.hidden {
  overflow: hidden; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

a {
  color: inherit; }

a:link {
  color: inherit;
  text-decoration: none; }

/* Sets the color as pink */
.section--pink {
  background-color: #FF5EAE; }

/* Sets the color as blue */
.section--blue {
  background-color: #38497C; }

/* Sets the color as gray */
.section--gray {
  background-color: #F3F5F7; }

.text--white {
  color: #FFFFFF; }
  .text--white a {
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s; }
  .text--white a:hover {
    opacity: 0.6; }

.text--dark-gray {
  color: #576B82; }
  .text--dark-gray a {
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s; }
  .text--dark-gray a:hover {
    opacity: 0.6; }

.text--blue {
  color: #38497C; }
  .text--blue a {
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s; }
  .text--blue a:hover {
    opacity: 0.6; }

.text--gray {
  color: #556778; }
  .text--gray a {
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s; }
  .text--gray a:hover {
    opacity: 0.6; }

.text--purple {
  color: #5882FF; }
  .text--purple a {
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s; }
  .text--purple a:hover {
    opacity: 0.6; }

/* Sets Font Size for header */
.text--header {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  line-height: 42.24px; }

/* Sets Font Size for title */
.text--title {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  line-height: 31.68px; }

/* Sets Font Size for body */
.text--body {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  line-height: 23.76px; }

.text-white--opacity {
  color: rgba(255, 255, 255, 0.7); }

.text-gray--opacity {
  color: rgba(85, 103, 120, 0.7); }

.button {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  font-kerning: normal;
  letter-spacing: 0.24px;
  border-radius: 6px;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s; }

section {
  overflow: hidden; }

.section {
  overflow: hidden; }

.absolute {
  position: absolute; }

.opacity-none {
  opacity: 0; }

.button:focus {
  outline: none; }

.statement-block {
  width: 50%; }

.button--light {
  color: #FFFFFF;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 2px; }
  .button--light:hover {
    background-color: rgba(255, 255, 255, 0.2); }

.button--dark {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 2px; }
  .button--dark:hover {
    background-color: rgba(0, 0, 0, 0.2); }

.button--purple {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 2px;
  background-color: #5882FF; }
  .button--purple:hover {
    background-color: rgba(0, 0, 0, 0.2); }

.launch--login {
  position: absolute;
  right: 8vw;
  top: 8vh; }

.text--bold {
  font-weight: bold; }

.lightDivider {
  background-color: none;
  border-top: none;
  border-bottom: solid 2px rgba(255, 255, 255, 0.2);
  border-right: none;
  border-left: none; }

.darkDivider {
  background-color: none;
  border-top: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
  border-right: none;
  border-left: none; }

.text--caps {
  text-transform: uppercase; }

.block {
  display: block; }

.logo {
  display: block; }

img {
  margin: 0; }

.width--full {
  width: 100%; }

.page-padding--small {
  padding-left: 10vw;
  padding-right: 10vw; }

.page-margin--small {
  margin-left: 10vw;
  margin-right: 10vw; }

.logo--medium {
  width: 128px;
  float: left; }

.logo--small {
  width: 80px;
  float: left; }

table {
  padding-top: 64px;
  padding-bottom: 64px; }

.block--center {
  margin-left: auto;
  margin-right: auto; }

tr {
  display: flex; }

td {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 32px; }

td:nth-of-type(odd) {
  border-right: 2px solid rgba(255, 255, 255, 0.2); }

.margin-top--small {
  margin-top: 32px; }

.margin-top--xsmall {
  margin-top: 16px; }

.margin-bottom--small {
  margin-bottom: 32px; }

.margin-bottom--xsmall {
  margin-bottom: 16px; }

.width-3 {
  width: calc(100vw / 2.5); }

.footer--extended {
  margin: 0; }

.footer {
  padding: 32px; }

.light-border--top {
  border-top: 2px solid rgba(255, 255, 255, 0.3); }

.flex {
  display: flex; }

.flex-vertical--center {
  align-items: center; }

.flex-space-between {
  justify-content: space-between; }

ul {
  margin: 0;
  list-style: none;
  display: flex; }

li {
  margin-left: 16px;
  color: white;
  margin-bottom: 0; }

.bg--blue {
  background-color: #3B4767; }

.border--dark {
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 2px; }

#leaderboard-illustration {
  position: absolute;
  top: 16vh;
  left: 10vw;
  width: 64vw;
  transform: rotateZ(6deg); }

.text--bold {
  font-weight: bold; }

.lightDivider {
  background-color: none;
  border-top: none;
  border-bottom: solid 2px rgba(255, 255, 255, 0.2);
  border-right: none;
  border-left: none; }

.darkDivider {
  background-color: none;
  border-top: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
  border-right: none;
  border-left: none; }

.text--caps {
  text-transform: uppercase; }

.block {
  display: block; }

.logo {
  display: block; }

img {
  margin: 0; }

.width--full {
  width: 100%; }

.page-padding--small {
  padding-left: 10vw;
  padding-right: 10vw; }

.page-margin--small {
  margin-left: 10vw;
  margin-right: 10vw; }

.logo--medium {
  width: 128px;
  float: left; }

.logo--small {
  width: 80px;
  float: left; }

table {
  padding-top: 64px;
  padding-bottom: 64px; }

.block--center {
  margin-left: auto;
  margin-right: auto; }

tr {
  display: flex; }

td {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 32px; }

td:nth-of-type(odd) {
  border-right: 2px solid rgba(255, 255, 255, 0.2); }

.margin-top--small {
  margin-top: 32px; }

.margin-top--xsmall {
  margin-top: 16px; }

.margin-bottom--small {
  margin-bottom: 32px; }

.margin-bottom--xsmall {
  margin-bottom: 16px; }

.width-3 {
  width: calc(100vw / 2.5); }

.footer--extended {
  margin: 0; }

.footer {
  padding: 32px; }

.light-border--top {
  border-top: 2px solid rgba(255, 255, 255, 0.3); }

.flex {
  display: flex; }

.flex-vertical--center {
  align-items: center; }

.flex-space-between {
  justify-content: space-between; }

ul {
  margin: 0;
  list-style: none;
  display: flex; }

li {
  margin-left: 16px;
  color: white;
  margin-bottom: 0; }

.bg--blue {
  background-color: #3B4767; }

.border--dark {
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 2px; }

#leaderboard-illustration {
  position: absolute;
  top: 16vh;
  left: 10vw;
  width: 64vw;
  transform: rotateZ(6deg); }

/*# sourceMappingURL=main.css.map */
