@font-face {
	font-family: 'Aktiv Grotesk';
	src: url('../fonts/AktivGrotesk-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aktiv Grotesk';
	src: url('../fonts/AktivGrotesk-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Aktiv Grotesk';
	src: url('../fonts/AktivGrotesk-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}